﻿@model MovieMVC.Models.Blog

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding-top:30px; padding-left:10px; padding-right:10px">

        <h4>Create Blog</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h5 style="margin-left:20px">Id</h5>
            <div class="row" style="margin-left:20px; margin-right:20px">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5 style="margin-left:20px">Tiêu đề</h5>
            <div class="row" style="margin-left:20px; margin-right:20px">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5 style="margin-left:20px">Mô tả ngắn</h5>
            <div class="row" style="margin-left:20px; margin-right:20px">
                <textarea class="form-control" cols="20" id="Describe" name="Describe" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <h5 style="margin-left:20px">Chi tiết</h5>
            <div class="row" style="margin-left:20px; margin-right:20px">
                <textarea class="form-control" cols="20" id="Detail" name="Detail" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <h5 style="margin-left:20px">Hình ảnh</h5>
            <div class="row" style="margin-left:30px; margin-right:20px">
                <div class="form-group">
                    <input type="file" class="form-control-file" id="Image" name="Image">
                </div>
            </div>
        </div>



        <h5 style="margin-left:10px">Vị trí</h5>
        <label style="margin-left:10px">
            <input type="checkbox" name="LocationList[]" value="Việt Nam" /> Việt Nam
        </label>
        <label style="margin-left:20px">
            <input type="checkbox" name="LocationList[]" value="Châu Á"  /> Châu Á
        </label>
        <label style="margin-left:20px">
            <input type="checkbox" name="LocationList[]" value="Châu Âu"  /> Châu Âu
        </label>
        <label style="margin-left:20px">
            <input type="checkbox" name="LocationList[]" value="Châu Mỹ"  /> Châu Mỹ
        </label>




        <div class="form-group">
            <h5 style="margin-left:20px; margin-top:20px">Public</h5>
            <div class="row" style="margin-left:20px; margin-right:20px">
                <label class="container">
                    <div class="checkbox">
                        <input type="radio" name="Status" value="True"><label>Yes</label>
                        <input type="radio" name="Status" value="False" style="margin-left:30px"><label>No</label>
                    </div>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-5" style="margin-left: 20px">
                <div class="form-group">
                    <h5 >Loại</h5>
                    <div class="row"  margin-right:20px">
                        <div class="custom-select" style="width:300px;">
                            <select name="Type" id="Type" style="width:300px; height:30px">
                                <option value="Kinh Doanh">Kinh Doanh</option>
                                <option value="Thế Giới">Thế Giới</option>
                                <option value="Giải Trí">Giải Trí</option>
                                <option value="Thời Sự">Thời Sự</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col container-fluid">

                <div class="form-group">
                    <h5 >Date Public</h5>
                    <div class="row" margin-right:20px" style="width:300px">
                        @Html.EditorFor(model => model.DatePublic, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DatePublic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="button" type="submit" class="btn btn-success" style="margin-left:200px">Create</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
