﻿@model MovieMVC.Models.Blog

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card" style="margin-left:20px; margin-right:20px">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="padding-left:10px; padding-right:10px">
                <h4>Edit Blog</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    <h5 style="margin-left:20px">Tiêu đề</h5>
                    <div class="row" style="margin-left:20px; margin-right:20px">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <h5 style="margin-left:20px">Mô tả ngắn</h5>
                    <div class="row" style="margin-left:20px; margin-right:20px">
                        <textarea class="form-control" id="Describe" name="Describe" rows="5" cols="20">@Model.Describe</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <h5 style="margin-left:20px">Chi tiết</h5>
                    <div class="row" style="margin-left:20px; margin-right:20px">
                        <textarea class="form-control" id="Detail" name="Detail" rows="10" cols="20">@Model.Detail</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <h5 style="margin-left:20px">Hình ảnh</h5>
                    <div class="row" style="margin-left:30px; margin-right:20px">
                        <form>
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="exampleFormControlFile1" value="a">
                            </div>
                        </form>
                    </div>
                </div>

                <h5 style="margin-left:10px">Vị trí</h5>
                @{
                    if (String.IsNullOrEmpty(Model.Location))
                    {
                        <label style="margin-left:10px">
                            <input type="checkbox" name="LocationList[]" value="Việt Nam" /> Việt Nam
                        </label>
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Á" /> Châu Á
                        </label>
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Âu" /> Châu Âu
                        </label>
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Mỹ" /> Châu Mỹ
                        </label>
                        <div class="form-group">
                            <h5 style="margin-left:20px; margin-top:20px ">Public</h5>
                            <div class="row" style="margin-left:20px; margin-right:20px">
                                <label class="container">
                                    <div class="checkbox">
                                        @{
                                            if (Model.Status == true)
                                            {
                                                <input type="radio" checked="checked" id="true" name="fav_language" value="true">
                                                <label>Yes</label>
                                                <input type="radio" style="margin-left:20px" id="false" name="fav_language" value="false">
                                                <label>No</label>
                                            }
                                            else
                                            {
                                                <input type="radio" id="true" name="fav_language" value="true">
                                                <label>Yes</label>
                                                <input type="radio" checked="checked" style="margin-left:20px" id="false" name="fav_language" value="false">
                                                <label>No</label>
                                            }
                                        }
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5" style="margin-left: 20px">
                                <div class="form-group">
                                    <h5>Loại</h5>
                                    <div class="row" margin-right:20px">
                                        <div class="custom-select" style="width:200px;">
                                            <select name="Type" id="Type" style="width:200px; height:30px">
                                                @{
                                                    if (Model.Type.Equals("Kinh Doanh"))
                                                    {
                                                        <option selected value="Kinh Doanh">Kinh Doanh</option>
                                                        <option value="Thế Giới">Thế Giới</option>
                                                        <option value="Giải Trí">Giải Trí</option>
                                                        <option value="Thời Sự">Thời Sự</option>
                                                    }
                                                    else if (Model.Type.Equals("Thế Giới"))
                                                    {
                                                        <option value="Kinh Doanh">Kinh Doanh</option>
                                                        <option selected value="Thế Giới">Thế Giới</option>
                                                        <option value="Giải Trí">Giải Trí</option>
                                                        <option value="Thời Sự">Thời Sự</option>
                                                    }
                                                    else if (Model.Type.Equals("Giải Trí"))
                                                    {
                                                        <option value="Kinh Doanh">Kinh Doanh</option>
                                                        <option value="Thế Giới">Thế Giới</option>
                                                        <option selected value="Giải Trí">Giải Trí</option>
                                                        <option value="Thời Sự">Thời Sự</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Kinh Doanh">Kinh Doanh</option>
                                                        <option value="Thế Giới">Thế Giới</option>
                                                        <option value="Giải Trí">Giải Trí</option>
                                                        <option selected value="Thời Sự">Thời Sự</option>
                                                    }
                                                }

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col container-fluid">

                                <div class="form-group">
                                    <h5>Date Public</h5>
                                    <div class="row" style="width:300px">
                                        @Html.EditorFor(model => model.DatePublic, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DatePublic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-primary">Clear</button>
                            </div>
                        </div>
                        return;

                    }
                    if (Model.Location.Contains("Việt Nam"))
                    {
                        <label style="margin-left:10px">
                            <input type="checkbox" name="LocationList[]" value="Việt Nam" checked /> Việt Nam
                        </label>
                    }
                    else
                    {
                        <label style="margin-left:10px">
                            <input type="checkbox" name="LocationList[]" value="Việt Nam" /> Việt Nam
                        </label>
                    }

                    if (Model.Location.Contains("Châu Á") == true)
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Á" checked /> Châu Á
                        </label>
                    }
                    else
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Á" /> Châu Á
                        </label>
                    }

                    if (Model.Location.Contains("Châu Âu") == true)
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Âu" checked /> Châu Âu
                        </label>
                    }
                    else
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Âu" /> Châu Âu
                        </label>
                    }

                    if (Model.Location.Contains("Châu Mỹ") == true)
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Mỹ" checked /> Châu Mỹ
                        </label>
                    }
                    else
                    {
                        <label style="margin-left:20px">
                            <input type="checkbox" name="LocationList[]" value="Châu Mỹ" /> Châu Mỹ
                        </label>
                    }
                }

                <div class="form-group">
                    <h5 style="margin-left:20px; margin-top:20px ">Public</h5>
                    <div class="row" style="margin-left:20px; margin-right:20px">
                        <label class="container">
                            <div class="checkbox">
                                @{
                                    if (Model.Status == true)
                                    {
                                        <input type="radio" checked="checked" id="true" name="fav_language" value="true">
                                        <label>Yes</label>
                                        <input type="radio" style="margin-left:20px" id="false" name="fav_language" value="false">
                                        <label>No</label>
                                    }
                                    else
                                    {
                                        <input type="radio" id="true" name="fav_language" value="true">
                                        <label>Yes</label>
                                        <input type="radio" checked="checked" style="margin-left:20px" id="false" name="fav_language" value="false">
                                        <label>No</label>
                                    }
                                }
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5" style="margin-left: 20px">
                        <div class="form-group">
                            <h5 >Loại</h5>
                            <div class="row"  margin-right:20px">
                                <div class="custom-select" style="width:200px;">
                                    <select name="Type" id="Type" style="width:200px; height:30px">
                                        @{
                                            if (Model.Type.Equals("Kinh Doanh"))
                                            {
                                                <option selected value="Kinh Doanh">Kinh Doanh</option>
                                                <option value="Thế Giới">Thế Giới</option>
                                                <option value="Giải Trí">Giải Trí</option>
                                                <option value="Thời Sự">Thời Sự</option>
                                            }
                                            else if (Model.Type.Equals("Thế Giới"))
                                            {
                                                <option value="Kinh Doanh">Kinh Doanh</option>
                                                <option selected value="Thế Giới">Thế Giới</option>
                                                <option value="Giải Trí">Giải Trí</option>
                                                <option value="Thời Sự">Thời Sự</option>
                                            }
                                            else if (Model.Type.Equals("Giải Trí"))
                                            {
                                                <option value="Kinh Doanh">Kinh Doanh</option>
                                                <option value="Thế Giới">Thế Giới</option>
                                                <option selected value="Giải Trí">Giải Trí</option>
                                                <option value="Thời Sự">Thời Sự</option>
                                            }
                                            else
                                            {
                                                <option value="Kinh Doanh">Kinh Doanh</option>
                                                <option value="Thế Giới">Thế Giới</option>
                                                <option value="Giải Trí">Giải Trí</option>
                                                <option selected value="Thời Sự">Thời Sự</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col container-fluid">

                        <div class="form-group">
                            <h5 >Date Public</h5>
                            <div class="row" style="width:300px">
                                @Html.EditorFor(model => model.DatePublic, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DatePublic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @*<input type="submit" value="Save" class="btn btn-default" />*@
                        <button style="margin-left:120px" type="submit" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>

