﻿@model IEnumerable<MovieMVC.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin-left: 30px; margin-right: 30px">
    <div class="card-body">
        <p>
            <b><h3 style="padding-left:30px; padding-top: 10px">Search Blogs</h3></b>
            @using (Html.BeginForm())
            {<div class="row" style="padding-top:10px">
                    <div class="col-md-1" style="padding-top:10px; padding-left:50px">
                        Title
                    </div>
                    <div class=" col-md-11" style="padding-right:20px"> @Html.TextBox("SearchString", null, new { @class = "form-control container" }) <br /></div>
                    <div style="text-align:center"> <button type="submit" class="btn btn-outline-success"> Search</button></div>
                </div>
            }
            
            </p>
        </div>
</div>

<div class="card" style="margin-left:30px; margin-right:30px; margin-top:20px">
    <div class="card-body">
        <p>
            <b><h3 style="padding-left:30px; padding-top: 10px">List Blogs</h3></b>
            <table class="table table-bordered" style="margin-top:10px">
                <tr>
                    <th style="text-align:center">
                        Id
                    </th>
                    <th style="text-align:center">
                        Tin
                    </th>
                    <th style="text-align:center">
                        Loại
                    </th>
                    <th style="text-align:center">
                        Trạng thái
                    </th>
                    <th style="text-align:center">
                        Vị trí
                    </th>
                    <th style="text-align:center">
                        Ngày public
                    </th>
                    <th style="text-align:center">
                        Edit
                    </th>
                    <th style="text-align:center">
                        Delete
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Status == true)
                    {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>

                            <td style="text-align:center">
                                Yes
                            </td >
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.DatePublic)
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-outline-primary"> <a href="~/Blogs/Edit/@item.Id" ; style="color:black; text-decoration:none">Edit</a></button>
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-outline-danger"> <a href="~/Blogs/Delete/@item.Id" ; style="color:black; text-decoration:none">Delete</a></button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>

                            <td style="text-align:center">
                                No
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.DatePublic)
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-outline-primary"> <a href="~/Blogs/Edit/@item.Id" ; style="color:black; text-decoration:none">Edit</a></button>
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-outline-danger"> <a href="~/Blogs/Delete/@item.Id" ; style="color:black; text-decoration:none">Delete</a></button>
                            </td>
                        </tr>
                    }

                }

            </table>
        </p>
    </div>
</div>

