﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/JavaScript.js"></script>
</head>
<body>
    <div class=" navbar-inverse navbar-fixed-top" style="padding:0 !important">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="https://devfast.us/images/devfast-logo.png" height="50" width="80" />
                    </div>
                    <div class="col" style="margin-top: 10px">
                        <h3 style="color: white; text-align:center">Bolgmanagement</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="padding-top:40px">

        <div class="col-2" style="margin-left: 20px">
            <div class="bg-white">
                <div class="sidebar-heading py-4 primary-text fs-4 ">
                    <i class="fa-solid fa-list"></i>  <a href="~/Blogs/Index" ; style="color:black; text-decoration:none">List</a>
                </div>
                <div class="sidebar-heading py-4 primary-text fs-4">
                    <i class="fa-solid fa-file-circle-plus"></i> <a href="~/Blogs/Create" ; style="color:black; text-decoration:none">Create</a>
                </div>
                <div class="sidebar-heading py-4 primary-text fs-4">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </div>
            </div>

        </div>
        <div class="col container-fluid">
            <div style="background-color: #eee; padding-top:30px; padding-bottom:20px">@RenderBody()</div>

        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" style="padding:0 !important">
        <div class="container">
            <div class="container body-content">
                <hr />
                <footer>
                    <div style="text-align:center; font-size: 18px; padding-bottom: 16px">
                        <span style="color:white; text-align:center;">Copyright &copy; @DateTime.Now.Year  <span style="color:blue; text-align:center">Devfast</span></span>
                    </div>
                </footer>
            </div>
        </div>
    </div>




</body>
</html>
