﻿@{
    ViewBag.Title = "Home Page";
}



@*<body>
    <form id="form" onsubmit="return check(event)">
        <label>
            <input type="checkbox" value="1" /> 1
        </label>
        <label>
            <input type="checkbox" value="2" /> 2
        </label>
        <label>
            <input type="checkbox" value="3" /> 3
        </label>
        <button>submit</button>
    </form>

    <script>
        const form = document.querySelector("#form");
        let selected = [];
        const numberOfCheckboxes = document.querySelectorAll("#form input").length;

        form.addEventListener("click", function (e) {
            if (e.target.nodeName !== "INPUT") return;
            if (e.target.checked) {
                selected.push(parseInt(e.target.value));
            } else {
                selected = selected.filter(el => el != e.target.value);
            }
        })

        function readList(arr) {
            let item = "";
            for (let i = 0; i < arr.length; i++) {
                item = item + `${arr[i]}, `;
            }
            return item;
        }

        function check(e) {
            console.log(selected);
            if (selected.length !== numberOfCheckboxes) {
                e.preventDefault();
            }
            const inOrder = selected.every((el, i, arr) => i === 0 || el === arr[i - 1] + 1);
            if (!inOrder) {
                e.preventDefault();
            }
        }
    </script>

</body>*@

